[ req ]

distinguished_name     = req_distinguished_name

# Stop confirmation prompts. All information is contained below.
prompt                 = no

# The extensions to add to a certificate request - see [ v3_req ]
req_extensions	       = v3_req

[ req_distinguished_name ]

countryName            = US
stateOrProvinceName    = Alabama
localityName           = Orange Beach
organizationName       = Eidemiller Industries
organizationalUnitName = Sapphire IOT
commonName             = www.eidemiller.net
emailAddress           = steve.eidemiller@gmail.com

[ v3_req ]

# What the key can/cannot be used for:
basicConstraints = CA:TRUE, pathlen:1
keyUsage = keyCertSign, cRLSign

# The CN field has been deprecated for name validation, so the SAN field is now required and must contain all CN's
subjectAltName = @alt_names

[ alt_names ]

# List of all the DNS names that the certificate should work for
# To specify multiple values append a numeric identifier, as shown
DNS.1 = www.eidemiller.net
